.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute !important;
  z-index: 5000;
  background-color: hsla(235, 29%, 15%, 1);
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  padding: 5px 0 5px;
  left: 0px;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  transition: all 400ms ease;
  opacity: 0;
  pointer-events: none;
  max-height: rem(235);
  scrollbar-width: none;
  overflow-y: scroll;
  top: rem(90);
  &__item {
    padding: rem(11) 0 rem(11) rem(16);
    transition: 300ms ease;
    display: flex;
    align-items: center;
    cursor: pointer;
    grid-gap: rem(15);
    &:hover {
      background-color: hsla(234, 40%, 10%, 1);
    }
  }
  &__icon {
    width: rem(24);
    height: rem(24);
  }
  &__coin-name {
    font-size: rem(13);
    span {
      font-size: rem(9);
    }
  }
}

.dropdown-collapse {
    opacity: 1;
    pointer-events: all;
}

.withdraw-dropdown {
  top: rem(85);
  left: 1.25rem;
  width: calc(100% - 2.5rem);
  @include max-width($mobMedia) {
    width: calc(100% - 1.85rem);
    left: 1rem;
  }
}

.dropdown-wrapper {
  position: relative;
}

.dropdown {
  scrollbar-color: #EDF3F6;
  &::-webkit-scrollbar {
    width: 9px;
    box-shadow: none;
    height: 100%;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3C93F0;
    border-radius: 4px;
    background-clip: padding-box;
    border: 2px solid #EDF3F6;
    box-shadow: none;

    &:hover {
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar-track {
    background-color:#EDF3F6;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: none;
    height: 100%;
  }

  ::-webkit-scrollbar-button {
    background-color: transparent;
    box-shadow: none;
    display: none;
  }
}




