.guide {
  &__body {
    display: flex;
    grid-gap: rem(160);
  }
  &__title {
    margin-bottom: rem(20);
  }
  &__title, .guide__label {
    text-align: left;
  }
  &__content {
    padding-top: rem(30);
    max-width: rem(500);
  }
  &__descr {
    margin-bottom: rem(30);
    p {
      color: hsla(0, 0%, 77%, 1);

    }
  }
  &__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    grid-gap: rem(20);
    justify-content: flex-end;
  }
  &__column-block {
    width: 100%;
    padding: rem(20);
    &:nth-child(1) {
      min-width: rem(590);
      transform: translateX(-35px);
    }
    &:nth-child(2) {
      margin-left: auto;
    }
    &:nth-child(3) {
      min-width: rem(590);
      transform: translateX(-115px);
    }
    max-width: rem(540);
  }
  &__block-heading {
    font-size: rem(24);
    font-weight: 500;
    margin-bottom: rem(8);
  }
  &__block-info {
    p {
      font-size: rem(16);
    }
  }
}

@include max-width($tabletMedia) {
  .guide {
    &__body {
      grid-gap: rem(70);
      align-items: center;
    }
    &__column-block {
      padding: rem(10);
      min-width: rem(420) !important;
      &:nth-child(3) {
        transform: translateX(-25px);
      }
    }
    &__block-icon {
      flex: 0 0 auto;
      width: rem(27);
      height: rem(27);
    }
    &__block-heading {
      font-size: rem(13);
      margin-bottom: rem(2);
    }
    &__block-info {
      p {
        font-size: rem(12);
      }
    }
  }
}

@include max-width($mobMedia) {
  .guide {
    &__body {
      flex-direction: column;
      grid-gap: 1rem;
    }
    &__column {
      width: 100%;
      grid-gap: rem(11);
    }
    &__title {
      margin-bottom: rem(11);
    }
    &__descr {
      margin-bottom: 1rem;
    }
    &__column-block {
      max-width: 100%;
      transform: translateX(0) !important;
      padding: rem(9);
      min-width: 100% !important;
    }
    &__block-info {
      p {
        font-size: rem(10);
      }
    }
  }
}
