.modal {
  position: fixed;
  background-color: hsla(0, 0%, 0%, .7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
  user-select: none;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: 400ms ease;
  &__actions {
    width: 100%;
    display: flex;
    grid-gap: 1.25rem;
    button {
      flex: 1;
    }
  }
  &__balance {
    @include df;
    width: 100%;
    margin-bottom: rem(50);
    justify-content: space-between;

  }
  &__close-btn {
    @include df;
    justify-content: center;
    text-align: center;
    padding: rem(20);
    color: var(--clr-yellow-400);
    font-weight: 600;
    outline: 1px solid var(--clr-yellow-400);
    border-radius: 10px;
    transition: all 200ms ease;
    &:hover {
      background-color: var(--clr-yellow-400);
      color: var(--clr-dark-400);
    }
  }
  &__confirm {
    border-radius: 10px !important;
  }
  &__balance-text {
    font-size: rem(11);
    letter-spacing: 0.02em;
    color: hsla(0, 0%, 77%, 1);
  }
  &__balance-amount {
    letter-spacing: 0.02em;
    font-size: rem(15);
  }
  &__confirm {
    padding: rem(20);
  }
  &__inputs {
    margin-bottom: rem(30);
    width: 100%;
    input {
      background: #0F1123;
      border: 1px solid rgba(61, 90, 229, 0.09);
    }
    .btn {
      padding: rem(15) !important;
    }
  }
  &_with {
    .modal__inner {
      text-align: left;
    }
    .modal__body {
      padding: rem(55) rem(40);
      backdrop-filter: blur(10px);
      background: linear-gradient(155.14deg, rgba(255, 255, 255, 0) -2.13%, rgba(255, 255, 255, 0.15) 136.58%);

      filter: drop-shadow(21.0784px 19.1023px 32.2764px rgba(0, 7, 72, 0.08));
    }

    .modal__heading {
      text-align: center;
      font-size: rem(44);
      margin-bottom: rem(50);
    }
  }
  &__close {
    cursor: pointer;
    position: absolute;
    right: rem(30);
    top: rem(30);
  }
  &__heading {
    font-size: rem(54);
    font-weight: 700;
    margin-bottom: rem(20);
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: calc(100% - 1rem);
    width: calc(100% - 1rem);
    max-width: rem(1000);
    margin-inline: auto;
  }
  &__body {
    background: linear-gradient(155.14deg, rgba(255, 255, 255, 0) -2.13%, rgba(255, 255, 255, 0.15) 136.58%);
    filter: drop-shadow(21.0784px 19.1023px 32.2764px rgba(0, 7, 72, 0.08));
    padding: rem(75) rem(40);
    border-radius: 10px;
    transform: translateY(10px);
    backdrop-filter: blur(10px);
    max-width: rem(590);
    transition: all 400ms ease;
  }
  &__subheading {
    max-width: rem(390);
    align-self: center;
    margin-bottom: rem(30);
  }
  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}


.show-modal {
  user-select: auto;
  visibility: visible;
  transform: scale(1);
  pointer-events: all;
  opacity: 1;
  .modal__body {
    transform: translateY(0);
    opacity: 1;

  }
}

@include max-width($tabletMedia) {
  .modal {
    &_with {
      .modal__body {
        padding: rem(30);
      }
      .modal__heading {
        font-size: rem(32);
        margin-bottom: rem(20);
      }
      .modal__balance {
        margin-bottom: rem(30);
      }
    }
    &__body {
      padding: rem(42) rem(22) rem(55) rem(22);
    }
    &__logo {
      max-width: rem(95);
    }
    &__heading {
      font-size: rem(25);
      margin-bottom: rem(10);
    }
    &__subheading {
      margin-bottom: rem(20);
    }
    &__actions {
      button {
        padding: rem(15);
      }
    }
    .deposit__inputs-item {
      grid-gap: rem(7);
      .btn {
        font-size: rem(14);
        padding: rem(11) !important;
      }
    }
  }
}
