.referral {
  &__title {
    margin-bottom: rem(20);
  }
  &__body {
    position: relative;
  }
  &__subheading {
    color: hsla(0, 0%, 77%, 1);
    font-size: 1rem;
    text-align: center;
    max-width: rem(368);
    align-self: center;
  }
  &__heading {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(60);
  }
  &__inner {
    display: flex;
    grid-gap: rem(21);
    min-height: rem(243);
    position: relative;
  }
  &__decor {
    position: absolute;
    z-index: 10;
    &_first {
      right: 25%;
      top: 10%;
    }
    &_second {
      bottom: rem(-110);
      left: rem(-60);
    }
    &_star {
      left: rem(220);
      top: -5px;
    }
  }

  &__block-wrapper {
    width: calc((100% / 3) - 10px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-gap: rem(15);
    &:hover .referral__graph-block {
      background: var(--bg-active-block);
    }
  }
  &__graph-block {
    cursor: pointer;
    background: hsla(235, 29%, 15%, 1);
    @include dfc;
    text-align: center;
    position: relative;
    border-radius: 5px;
    &_first {
      min-height: rem(208);
    }
    &_second {
      min-height: rem(128);
      p {
        transform: translateY(10px);
      }
    }
    &_third {
      min-height: rem(83);
      position: relative;
      p {
        transform: translateY(10px);
      }
      &::after {
        @include psevdo;
        top: -20px;
        height: rem(146);
        width: rem(94);
        background-image: url('../../img/home/line');
      }
    }
  }
  &__graph-level {
    font-weight: 500;
  }
  &__graph-amount {
    border: .7px solid hsla(0, 0%, 100%, 0.2);
    min-width: rem(106);
    font-size: rem(28);
    top: -52.5px;
    font-weight: 500;
    position: absolute;
    transform: translateY(50%);
    padding: rem(10) rem(25);
    box-shadow: 0px 2.773469924926758px 33.975006103515625px 0px hsla(234, 100%, 14%, 0.12);
    background: linear-gradient(155.14deg, rgba(255, 255, 255, 0) -2.13%, rgba(255, 255, 255, 0.15) 136.58%);
    filter: drop-shadow(0px 2.77347px 33.975px rgba(0, 7, 72, 0.12));
    backdrop-filter: blur(40px);
    border-radius: 7px;
  }
  &__graph-level {
    text-align: center;
  }
}

@include max-width($tabletMedia) {
  .referral {
    &__decor {
      display: none;
    }
    &__graph-amount {
      font-size: rem(20);
      top: -22px;
      transform: translateY(0%);
      min-width: rem(68);
    }
  }
}

@include max-width($mobMedia) {
  .referral {
    [data-aos^=scalingAnimation][data-aos^=scalingAnimation] {
      min-height: 13rem;
      opacity: 0;
    }

    [data-aos^=scalingAnimation][data-aos^=scalingAnimation].aos-animate {
      opacity: 1;
    }

    [data-aos^=secondScalingAnimation][data-aos^=secondScalingAnimation] {
      min-height: rem(128);
      opacity: 0;
    }

    [data-aos^=secondScalingAnimation][data-aos^=secondScalingAnimation].aos-animate {
      opacity: 1;
    }

    [data-aos^=thirdScalingAnimation][data-aos^=thirdScalingAnimation] {
      min-height: rem(83);
      opacity: 0;
    }

    [data-aos^=thirdScalingAnimation][data-aos^=thirdScalingAnimation].aos-animate {
      opacity: 1;
    }

    &__inner {
      flex-direction: column;
      grid-gap: rem(60);
      min-height: auto;
    }
    &__block-wrapper {
      width: 100%;
    }
  }
}

[data-aos^=scalingAnimation][data-aos^=scalingAnimation] {
  min-height: 0;
  opacity: 0;
}

[data-aos^=scalingAnimation][data-aos^=scalingAnimation].aos-animate {
  min-height: 13rem;
  opacity: 1;
}

[data-aos^=secondScalingAnimation][data-aos^=secondScalingAnimation] {
  opacity: 0;
  min-height: 0;
}

[data-aos^=secondScalingAnimation][data-aos^=secondScalingAnimation].aos-animate {
  min-height: rem(128);
  opacity: 1;
}

[data-aos^=thirdScalingAnimation][data-aos^=thirdScalingAnimation] {
  min-height: 0;
  opacity: 0;
}

[data-aos^=thirdScalingAnimation][data-aos^=thirdScalingAnimation].aos-animate {
  min-height: rem(83);
  opacity: 1;
}
