.withdraw {
  &__output {
    margin-top: rem(100);
    display: flex;
    flex-direction: column;
    grid-gap: rem(15);
    margin-bottom: rem(25);
  }
  &__grid-col-output {
    padding: rem(16) rem(13);
    cursor: pointer;
    margin-bottom: rem(15);
  }
  &__output-item {
    @include df;
    justify-content: space-between;
  }
  &__output-col {
    &_value {
      font-size: rem(16);
      letter-spacing: 0.02em;
      color: hsla(0, 0%, 77%, 1);
    }
    &_total {
      font-size: rem(16);
      font-weight: 500;
      letter-spacing: 0.02em;
      color: #fff;
      &--large {
        font-size: rem(20);
        text-transform: uppercase;
      }
    }
  }
  &__withdraw {
    width: 100%;
    padding: rem(15) rem(20);
  }
  &__btn {
    &_all {
      &:hover {
        background-color: var(--clr-yellow-400);
      }
    }
    &_trans {
      background-color: transparent;
      outline: 1px solid var(--clr-yellow-400);
      color: var(--clr-yellow-400);
      &:hover {
        background-color: transparent;
      }
    }
  }
  &__inputs {
    input {
      &::placeholder {
        color: hsla(0, 0%, 95%, 0.33);
      }
    }
  }
}

@include max-width($mobMedia) {
  .withdraw {
    &__output {
      margin-top: rem(60);
    }
    &__btn {
      padding: rem(15) rem(10);
    }
  }
}
