:root {
    /* -- Fonts --*/
    --ff: 'Inter', sans-serif;
    --bg-body: hsla(237, 64%, 6%, 1);
    --clr-dark-400: hsla(235, 29%, 15%, 1);
    --clr-light-400: #fff;
    --clr-yellow-400: hsla(50, 100%, 62%, 1);
    --bg-footer: hsla(240, 42%, 12%, 1);
    --bg-active-block: linear-gradient(90deg, #4463F4 0%, #415CDE 50.52%, #3A58EA 100%);
    --bg-news-block: linear-gradient(155.14deg, rgba(255, 255, 255, 0) -2.13%, rgba(255, 255, 255, 0.15) 136.58%);
}

$tabletMedia: 75em;
$mobMedia: 48em;
$container-width: calc(75rem + rem(40));
$cont-padding: rem(20);

.main-container {
  padding: 0 $cont-padding;
  max-width: $container-width;
  margin-inline: auto;
  width: 100%;
  @include max-width($tabletMedia) {
    max-width: 56.25rem
  }
  @include max-width($mobMedia) {
    max-width: 34.375rem;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: rem(20) rem(40);
  border-radius: 10px;
  color: var(--clr-dark-400);
  font-weight: 600;
  font-size: rem(16);
  background-color: var(--clr-yellow-400);
  transition: all 300ms ease;
  text-transform: capitalize;
  &--disabled {
    background-color: hsla(0, 0%, 82%, 1);
    cursor:not-allowed;
    &:hover {
      background-color: hsla(0, 0%, 82%, 1) !important;
    }
  }
  &:hover {
    background-color: hsla(49, 100%, 81%, 1);
  }
  @include max-width($tabletMedia) {
    padding: rem(10) rem(25);
    font-size: 15px;
    border-radius: 5px;
  }
}

.section-spacing {
  margin-bottom: rem(150);
  @include max-width($tabletMedia) {
    margin-bottom: rem(90);
  }
  @include max-width($mobMedia) {
    margin-bottom: rem(60);
  }
}

